<nav class="mobile-navigation-menu is-open">
	<ul class="menu-list">
		<li class="menu-list__item"><a href="/urban_legends">Urban Legends</a></li>
		<li class="menu-list__item"><a href="/unsolved_mysteries">Unsolved Mysteries</a></li>
		<li class="menu-list__item"><a href="/weird_youtube">Weird YouTube</a></li>
	</ul>
	<div class="menu-icon-container show-for-mobile">
		<div class="menu-icon">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</nav>