<h1 class="page-heading">Admin Page</h1>
<div class="admin-content">
    <div>Username: </div>
    <form action="/logout" method="POST">
        <button class="button" type="submit">Logout</button>
    </form>
    <a class="admin-content__link" href="/admin_legends" class="">Legends</a>
    <a class="admin-content__link" href="/admin_mysteries" class="">Mysteries</a>
    <a class="admin-content__link" href="/admin_videos" class="">Videos</a>
</div>
