<div class="home-intro">
	<p class="home-intro_1 intro-fade">This website contains material not suitable for sensitive viewers.</p>
	<p class="home-intro_2 intro-fade">Viewer discretion advised.</p>
</div>
